
.background-image {
    position: fixed;
    position: absolute;
    width: 100%;
    height: 500px;
    opacity: 0.8;
    /* This can stay as it is */
    /* background: url('') no-repeat center center; Add your image URL */
    background-size: cover;
}

.overlay {
    /* position: relative; Change to relative to position the overlay properly */
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* Darker text color */
    /* background-color: black; */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    /* Darker shadow */
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    z-index: 1;
}

.overlay * {
    position: relative;
    /* Make sure text stays above the overlay */
    z-index: 2;
}
